button {
  width: 266px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 80px;
  gap: 8px;
  border-width: 0px 0px 4px 4px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #233a59;
}
.one {
  background: #a2f2f9;
  border-color: #d8e054;
}
.two {
  background: #d8e054;
  border-color: #a2f2f9;
}
.play{
  margin-top: 1.875em;
  width: 240px;
  background: #a2f2f9;
  border-color: #d8e054;
}
