.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  padding-bottom: 2.5em;
}
.header-container > img {
  width: 80%;
  margin: auto;
}
.header-container > span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8e054;
  font-weight: bold;
  padding: 0.25em 0.625em;
  width: 12.1875em;
  height: 1.5625em;
  border-radius: 1.5625em;
}
