.memocard {
  height: 16.25em;
  width: 13.25em;
  perspective: 1000px;
  cursor: pointer;
}

.memocard-inner, .memocard-selected{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 16px;
}
.memocard-inner > .memocard-back {
  transform: rotateY(-180deg);
}

.memocard-flipped {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 16px;
  animation: rotation 9s;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
}
.memocard-flipped > .memocard-back {
  transform: rotateY(-180deg);
}
.memocard-selected{
  animation: rotation;
  transform-style: preserve-3d;
}
.memocard-selected > .memocard-back {
  transform: rotateY(-180deg);
}

@keyframes rotation {
  0% {
    transform: rotateY(-180deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
.memocard-front,
.memocard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Memocard FRONT Styles */
.memocard-front {
  background-color: #ffff;
  color: #233a59;
  border-radius: 8px;
}
.memocard-front > p {
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 0px;
  width: 85%;
  text-align: start;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.memocard-front > span {
  font-weight: 400;
  font-size: 0.625em;
  line-height: 12px;
  align-content: flex-start;
  float: left;
  margin-left: 8%;
}
.memocard-front > img {
  object-fit: contain;
  height: 70%;
  padding: 12px 0 5px 0;
  border-radius: 15px;
}

/* Memocard Back Styles */
.memocard-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a2f2f9;
  border-radius: 8px;
}
